<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>URL SHORTNER</title>
</head>
<body>
    <h1>Shortify</h1>
    <p class="header">shorten your URLs</p>
    
    <div class="container">
        <% if (locals.id) { %>
            <p class="para"> URL generated : <a href="http://localhost:8561/url/<%= id %>" target="_blank">http://localhost:8561/url/<%= id %></a></p>
        
        <% } %>
        <form method="post"  action="/url">
          <fieldset>
            <div class="label">
            <label for="label">
                Enter your original url:
                  
            </label>
            </div>
             <input type="text"
            name="ogLink"
            placeholder="https://example.com/">
            
            <input type="submit">
            </fieldset>
         
        </form>

        
    </div>
    <div>
            <% if (locals.urls && urls.length > 0) { %>
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Original Link</th>
                    <th>Shortened Link</th>
                    <th>Number of Clicks</th>
                  </tr>
                </thead>
                <tbody>
                  <% urls.forEach((url, index) => { %>
                    <tr>
                      <td><%= index + 1 %></td>
                      <td><%= url.ogLink %></td>
                      <td><%= url.shortLink %></td>
                      <td><%= url.visitHistory.length %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            <% } else { %>
              <p class="para">No URLs found.</p>
            <% } %>
          </div>
          
      



</body>
</html>